<?xml version="1.0"?>
<daf:dfdlConfig
  xmlns:daf="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2018:ext"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
  <daf:tunables>
    <daf:suppressSchemaDefinitionWarnings>
      <!-- revisit if PCAP is changed from version 1.4.0 to any newer version.
      We may not need this suppression any longer -->
      deprecatedRelativeSchemaLocation
    </daf:suppressSchemaDefinitionWarnings>
  </daf:tunables>
</daf:dfdlConfig>
